version: '3.8'

services:
  coordinator-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coordinator-service
    env_file: .env
    volumes:
      # Mount Docker socket to allow container management
      - /var/run/docker.sock:/var/run/docker.sock
      - ./calibration_config.yaml:/app/calibration_config.yaml:ro
      - ./dispatcher_config.yaml:/app/dispatcher_config.yaml:ro
      - ./.env:/app/.env:ro
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true
